/* ProviderNavBar.css */
.navbar-link {
  color: #4a5568; /* gray */
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 8px 7px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem
}

.navbar-link:hover {
  color: #2d3748; /* dark-blue */
  background-color: #ebf8ff; /* light-blue */
}

.navbar-link.active {
  color: #ffffff; /* white */
  background-color: #4299e1; /* medium-blue */
}

.logout-link {
  color: #e53e3e; /* red */
}

.logout-link:hover {
  color: #ffffff; /* white */
  background-color: #c53030; /* dark-red */
}

.not-connected {
  color: #4a5568; /* gray */
}

/* Styles pour le menu mobile */
.md\\:hidden {
  display: none;
}

@media (max-width: 768px) {
  .md\\:hidden {
    display: block;
  }
}
