@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #caf0f8;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    padding: 25px;
  }

  button {
    width: 100%;
    padding: 15px 20px;
    color: white;
    font-size: 1rem;
    background-color: #668BAE;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
  }

  button:hover {
    background-color: #00838f;
    color: white;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}
